$BORDERRADIUS: 5px;

.app {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: #ddd;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items:  center;
	padding: 10px 0 70px;
}

.app-header {
	flex: 0 1;
	width: 600px;
	min-height: 20px;
	line-height: 20px;
	margin-bottom: 10px;
}

.app-wrapper {
	flex: 1 0;
	width: 600px;
}



.app-footer {
	flex: 0 1;
	width: 600px;
}